body {
  background-color: #fff !important;
}

.interface {
  align-items: center;
  width: 500px;
  background-color: #111 !important;
  border: 1px solid #111;
  padding-top: 20px;
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.5);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap:10px;
  grid-template-areas:
  "warrior_pic warrior_header"
  "warrior_pic warrior_para";
  z-index: 500px;
}

h1 {
  color: #111 !important;
}

.p_header {
  color: #111 !important;
}

.p-header {
  color: #111 !important
}

.btn-prefight {
  margin-top: 10px !important;
  font-size: 20px !important;
  padding-top: 10px !important;
  color: #111 !important;
}

.enemy {
  margin-left: 10px;
  width: 500px;
  background-color: #111 !important;
  margin-top: 10px;
  padding-top: 10px;
  border : 1px solid #111;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0,0.5);
  visibility: hidden;
}

:hover {
  color: red;
}

.header_attack {
  color: #111 !important;
}

.actions {
  margin-top: : 20px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.actions a {
  color: red !important;
  font-size: 20px;
  weight: 900px;
  font-style: oblique;
  font-weight: 900;

}

#h3:hover {
  color: red;
  font-size: 20px;
  transition: all 0.1s ease-in-out;
}

.header .p_header , .header h1 {
  text-align: center
  color:#111;
  font-family: arial;
  font-weight: bold;
  font-size:20px;
  padding: 10px 0;

}

.header p {
  padding: 20px 0;
}

 .enemy h3 {
  padding:5px 0;
  color: #fff;
}

.enemy p {
  padding:10px 0;
}

 img {
  width: 200px;
  height: 150px;
}

.interface div h3 , p{
  color:#fff;
  font-family: arial;
  font-weight: bold;
  font-size: 16px;
}

.interface div h3 {
  padding-top: 20px;
}

.interface div p {
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

.p_header {
  text-align: center;
  z-index: 800px;
}
/* grid columns name */
.warrior {
  grid-area: warrior pic;
}

/*warrior */
.warrior_header {
  grid-area: warrior_header;
}

.warrior_para {
  grid-area: warrior_para;
}

/*hunter */
.hunter {
  grid-area: hunter pic;
}

.hunter_header {
  grid-area: hunter_header;
}

.hunter_para {
  grid-area: hunter_para;
}

/* mage */
.mage {
  grid-area: mage pic;
}

.mage_header {
  grid-area: mage_header;
}

.mage_para {
  grid-area: mage_para;
}

/*rogue*/
.rogue {
  grid-area: rogue pic;
}

.rogue_header {
  grid-area: rogue_header;
}

.rogue_para {
  grid-area: rogue_para;
}
